{% extends 'base.html' %}

{% block content %}

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">My Library</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% for game in library %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg "
                style="background-image: url('{{game.game.cover_pic}}'); background-size: cover; border-radius: 20px;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                    style="text-shadow: 0px 0px 8px black;">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ game.game.name }}</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            {% if game.played == False %}
                            <input type="image" width="32" height="32" src='/static/images/controller.svg'
                                alt="controller"
                                onclick="location.href='/library/played/{{ game.user_id }},{{ game.video_game_id }}'" />
                        </li>
                        <li class="d-flex align-items-center me-3">
                            {% else %}
                            <small>Played</small>
                            {% endif %}
                        </li>
                        <li class="d-flex align-items-center">
                            <input type="image" width="28" height="28" src='/static/images/trash_white.svg' alt="trash"
                                onclick="location.href='/library/remove/{{ game.user_id }},{{ game.video_game_id }}'" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}